.tagList {
    display: flex;
    gap: 0.25rem;

    &.tagList {
        flex-wrap: wrap;
    }

    .tag {
        display: flex;
        align-items: center;
    }
}

.tagList.tagList[variant='compact'] {
    gap: 0.25rem;
}
