:root {
    --list-control-gap: 0.5rem;
}

.arpaList {
    --list-layout-gap: 1.2rem;

    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: var(--list-layout-gap);
}

.arpaList__titleWrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
    font-size: 26px;
    font-weight: normal;
    color: var(--grey-600);

    arpa-icon {
        font-weight: 600;
        color: var(--grey-500);
    }
}

/**
 * Header
 */

.arpaList__header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.arpaList__headerTop {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.arpaList__heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-width: 0;
    padding-bottom: 8px;
}

.arpaList .listHeading {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    color: var(--grey-500);
}

.listHeading__resultsMessageText {
    padding: 4px 0 16px;
}

/**
 * Body
 */

.arpaList__bodyMain {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: var(--list-layout-gap);
    width: 100%;
    min-width: 0;
}

.arpaList__body {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: var(--list-layout-gap);

    &:has(.arpaList__aside) .arpaList__bodyMain {
        width: auto;
    }
}

.arpaList__bodyAside {
    flex: 0 1 auto;
}

.arpaList__bodyAside:empty {
    display: none;
}

.arpaList__aside {
    flex: 1 0 auto;
}

/**
 * Items
 */

.arpaList__items {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    gap: var(--list-layout-gap);
    width: 100%;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: var(--theme-transition);
}

.arpaList__items--transitioning {
    opacity: 0;
}

.listHeading__resultsMessageText:empty,
.arpaList__header:empty,
.arpaList__header:has(.listHeading:empty),
.arpaList__items:empty {
    display: none;
}

.arpaList--itemsOut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;

    @starting-style {
        opacity: 1;
    }
}

.arpaList--itemsIn {
    display: flex;
    opacity: 1;

    @starting-style {
        opacity: 0;
    }
}

/**
 * No items
 */

.arpaList__noItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    padding: 16px;
    margin: 8px 0;
    font-size: 15px;
    color: var(--grey-500);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    outline: var(--striped-area-outline);
    background: var(--striped-area);
    border: 2px solid var(--color-background);
    border: var(--striped-area-border);
    border-radius: 8px;
}

.arpaList__noItemsText {
    padding: 6px 12px 5px;
    background-color: var(--overlay-light);
    border-radius: 4px;
}

.arpaList__preloader {
    --spinner-size: 70px;
    --spinner-thickness: 2px;
    --spinner-color: rgb(255 255 255 / 30%);

    z-index: -1;
    opacity: 0;

    .circularSpinner__spinnerContainer {
        position: fixed;
    }
}

/**
 * Footer
 */

.arpaList__footer {
    position: sticky;
    bottom: 0;
    margin-top: auto;
}

.arpaList__pager {
    background-color: var(--overlay);
    border-radius: 0;
}

/**
 * States
 */

.arpaList--loading {
    .arpaList__preloader {
        z-index: 1;
        visibility: hidden;
        opacity: 1;

        .circularSpinner__spinnerContainer {
            visibility: hidden;

            .circularSpinner__spinner {
                visibility: visible;
            }
        }
    }

    > .arpaList__body > .arpaList__bodyMain > .arpaList__items {
        opacity: 0.5;
    }
}

/**
 * Variants
 */

.arpaList[variant='mini'] {
    .arpaList__noItems {
        flex-direction: row;
        height: 20px;
    }
}
