list-multi-select:only-child {
    margin-left: auto;
}
.listMultiSelect__form {
    min-width: 320px;
}

.listSelection__itemList {
    padding: 8px;
}

.listSelection__itemList button {
    text-decoration: underline;
}

.listSelection__content {
    padding: 8px;
    min-width: 320px;
}

.listSelection__itemsSelected {
    margin-bottom: 8px;
}

.listSelection__content form .fieldComponent {
    margin: 0;
    width: 100%;
}

.listSelection__content .formFieldsComponent {
    /* gap: 8px; */
    display: flex;
    flex-direction: column;
}

.listSelection__menu--active .iconMenu__button .iconButton__content {
    color: var(--color-primary);
}

.listMultiSelect__combo.listMultiSelect__combo.listMultiSelect__combo {
    max-height: none;
    margin-top: 0.5rem;
    background-color: var(--color-background);
}
