:root {
    --list-control-gap: 0.5rem;
}

.arpaList {
    position: relative;
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex: 1 1 auto;
}

.arpaList__title {
    margin: 0;
    font-weight: normal;
    color: var(--grey-600);
    font-size: 26px;
}

/**
 * Header
 */

.arpaList__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 8px;
    min-width: 0;
}

.arpaList .listHeading {
    flex: 1 1 auto;
    display: flex;
    min-width: 0;
    color: var(--grey-500);
}

.listHeading__resultsMessageText {
    padding: 4px 0px 16px;
}

.listHeading__resultsMessageText:empty,
.arpaList__header:has(.listHeading:empty),
.arpaList__items:empty,
.arpaList__header:empty {
    display: none;
}

/**
 * Body
 */

.arpaList__body {
    display: flex;
    flex-direction: row;
    gap: 0;
}

.arpaList__bodyMain {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.arpaList__bodyAside {
    flex: 0 1 auto;
}

.arpaList__bodyAside:empty {
    display: none;
}

/**
 * Items
 */

.arpaList__items {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    flex: 1 1 auto;
    transition: var(--theme-transition);
}

/**
 * No items
 */

.arpaList__noItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--grey-500);
    text-transform: uppercase;
    font-size: 15px;
    margin: 8px 0px;
    border: 2px solid var(--color-background);
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    height: 100px;
    border: var(--striped-area-border);
    background: var(--striped-area);
    outline: var(--striped-area-outline);
    text-align: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.7px;
}

.arpaList__noItemsText {
    padding: 6px 12px 5px;
    border-radius: 4px;
    background-color: var(--overlay-light);
}

.arpaList__preloader {
    --preloader-size: 70px;
    --preloader-border-width: 2px;
    --preloader-outline-width: 2px;
    --preloader-bg-color: rgba(255, 255, 255, 0.3);

    .circularPreloader__spinnerContainer {
        position: fixed;
    }
}

/**
 * Footer
 */

.arpaList__footer {
    margin-top: auto;
    position: sticky;
    bottom: 0;
}

.arpaList__pager {
    background-color: var(--overlay);
    border-radius: 0;
}

/**
 * States
 */

.arpaList--loading .arpaList__items {
    opacity: 0.2;
}

/**
 * Variants
 */

.arpaList[variant='mini'] {
    .arpaList__noItems {
        flex-direction: row;
        height: 20px;
    }
}
