.listInfo {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    padding: 0 0rem .5rem 0.5rem;
    position: relative;
    text-align: left;
    text-transform: none;

    .listInfo__buttons {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}
