:root {
    --listItem-imgSize: 4rem;
    --listItem-imgHeight: auto;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 12px;
    flex: 1 1 auto;
    width: 100%;
    transition: var(--theme-transition);
    arpa-image {
        width: var(--listItem-imgSize);
        height: var(--listItem-imgHeight);
        flex: none;
    }

    arpa-icon {
        --icon-size: 1.5rem;
        position: relative;
    }
}

.listItem__main {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem 0px;
    min-width: 0;
    flex: 1 1 auto;
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--text-color);
}

a.listItem__main,
button.listItem__main {
    &:hover,
    &:focus {
        .listItem__content,
        arpa-icon {
            color: var(--color-primary);
        }
    }
}

button.listItem__main {
    cursor: pointer;
}

.listItem__titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.listItem__title {
    align-items: center;
    display: block;
    flex: 0 1 auto;
    font-weight: 400;
    gap: 0.2rem;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.listItem__content {
    font-size: 1rem;
    line-height: 1.3rem;
}

.listItem__subTitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-600);
    line-height: 16px;
}

.listItem__contentWrapper {
    align-self: flex-start;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-family: var(--primary-font);
    font-size: 1rem;
    gap: 0.5rem;
    justify-content: space-between;
    line-height: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.listItem__rhs {
    display: flex;
    flex-direction: row;
    gap: var(--list-control-gap);
    flex: 0 1 auto;
    align-items: center;
}

.listItem__checkboxContainer {
    display: flex;
    align-items: center;
    width: var(--icon-button-width);
    font-size: 24px;
    justify-content: center;
}
.listItem__checkbox::after {
    font-size: 26px;
    font-weight: 300;
}
