:root {
    --listItem-imgSize: 4rem;
    --listItem-imgHeight: auto;
}

.listItem {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex: 1 1 auto;
    width: 100%;
    transition: var(--theme-transition);
    arpa-image {
        width: var(--listItem-imgSize);
        height: var(--listItem-imgHeight);
        flex: none;
        picture {
            align-items: center;
            display: flex;
        }
    }

    arpa-icon {
        --icon-size: 1.5rem;
        position: relative;
    }
}

.listItem__main {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.25rem 0px;
    min-width: 0;
    flex: 1 1 auto;
    background-color: transparent;
    border: none;
    text-align: left;
    color: var(--text-color);
}

a.listItem__main,
button.listItem__main {
    &:hover,
    &:focus {
        .listItem__content,
        arpa-icon {
            color: var(--color-primary);
        }
    }
}

button.listItem__main {
    cursor: pointer;
}

.listItem__titleWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    flex: 0 1 auto;
}

.listItem__title {
    align-items: center;
    flex: 0 1 auto;
    font-weight: 600;
    gap: 0.5rem;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.2rem;
    color: var(--grey-600);
    margin: 0;

    display: inline-block;

    .icon {
        --icon-size: 1.3rem;
        font-weight: 600;
        color: var(--color-primary);
        font-size: 1.3rem;
        margin-right: 0.5rem;
        position: relative;
        top: 0.2rem;
        display: inline;
    }
}

.listItem__content {
    font-size: 1rem;
    line-height: 1.45rem;
    .truncateText__readMoreButton {
        margin-left: 0;
        align-self: flex-start;
    }
    p {
        margin: 0;
    }
}

.listItem__subTitle {
    font-size: 1rem;
    font-weight: 600;
    color: var(--grey-700);
    line-height: 1.4rem;
}

.listItem__contentWrapper {
    align-self: flex-start;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    font-family: var(--primary-font);
    font-size: 1rem;
    gap: 0.25rem;
    justify-content: space-between;
    line-height: 1rem;
    max-width: 100%;
    overflow: hidden;
}

.listItem__contentHeader {
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    flex: 1 1 auto;
    flex-wrap: wrap;
    align-items: center;
    .tagList {
        flex: 0 1 auto;
    }
}

.listItem__image {
    align-self: flex-start;
}

.listItem__rhs {
    display: flex;
    flex-direction: row;
    gap: var(--list-control-gap);
    flex: 0 1 auto;
    align-items: center;
}

.listItem__checkboxContainer {
    display: flex;
    align-items: center;
    width: var(--icon-button-size);
    font-size: 24px;
    justify-content: center;
}

.listItem__checkbox::after {
    font-size: 26px;
    font-weight: 300;
}

.listItem__icon.listItem__icon {
    align-self: flex-start;
}
