:root {
    --listView--gridItemSize: 14.5rem;
    --listView--gridGap: 1rem;
    --listItem--border-radius: 0.5rem;
    --listItem--max-width: 400px;
    --listItem--contentPadding: 0.5rem;
}
.listView--grid,
.listView--grid-compact {
    > .arpaList__body {
        > .arpaList__bodyMain > .arpaList__items.arpaList__items {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(var(--listView--gridItemSize), 1fr));
            grid-gap: var(--listView--gridGap);
            justify-items: center;
            align-items: center;
        }
    }

    arpa-image {
        --preloader-size: 3rem;
        --preloader-border-width: 4px;
        --preloader-outline-width: 4px;
    }
}

.listItem--grid,
.listItem--grid-compact {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
    flex-direction: column;
    padding: 0;
    border-radius: var(--listItem--border-radius);
    min-width: 0;
    align-self: stretch;
    &:only-child {
        aspect-ratio: 1 / 1;
        max-width: var(--listItem--max-width);
    }

    > .listItem__main {
        flex-direction: column;
        width: 100%;
        padding: 0.6rem;
        gap: 0.25rem;
        > .listItem__contentWrapper {
            padding: 0;
            width: 100%;
            justify-content: flex-start;
        }
    }

    .listItem__content {
        padding: var(--listItem--contentPadding);
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1 rem;

        .truncateText__readMoreButton {
            margin-top: auto;
            padding-top: 1rem;
        }
    }

    .listItem__contentHeader {
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        flex: none;
        .tagList {
            width: 100%;
        }
    }

    /**
     * Title
     */

    .listItem__titleWrapper {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }

    .listItem__title {
        margin-top: 0px;
        gap: 0;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        max-width: 100%;
        flex: 0 1 auto;
        display: block;
    }

    .listItem__titleText {
        padding: 0 4px 8px;
        text-align: left;
        width: 100%;
        color: var(--grey-800);
    }

    .listItem__subTitle.listItem__subTitle {
        padding: 0;
        margin-top: 2px;
        display: flex;
        justify-content: space-between;
        gap: 8px;
        align-items: center;
    }

    /**
     * Image
     */

    .listItem__image {
        --listItem-imgSize: var(--listView--gridItemSize);

        background-color: var(--image-bg-color);
        flex: 0 1 auto;
        margin: 0;
        min-height: 0;
        min-width: 100%;
        padding: 0;
        top: 0;
        width: 100%;
        border-radius: var(--listItem--border-radius);
        overflow: hidden;
        aspect-ratio: 1 / 1 !important;
        picture {
            min-width: 100%;
            img {
                object-fit: cover;
            }
        }
    }

    .listItem__imageError {
        width: 100%;
    }

    /**
     * Tags
     */

    .listItem__tags {
        .tag.tag {
            flex: 1 1 auto;
        }
    }

    /**
     * RHS
     */

    .listItem__rhs {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        flex-direction: row-reverse;
        gap: 0.2rem;
    }

    /**
     * Checkbox
     */

    .listItem__checkboxContainer {
        background-color: var(--overlay);
        border-radius: 4px;
        box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
        height: 24px;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
    }

    /**
     * Navigation
     */

    .listItem__nav {
        .iconButton {
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            border-radius: 4px;
            box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
            background-color: var(--overlay);
        }
        .selectCombo {
            margin-right: 0px;
        }
    }

    .listItem__checkboxContainer,
    .iconButton {
        --icon-button-size: 24px;
    }

    /**
     * Hover
     */

    &:hover {
        .listItem__checkboxContainer {
            opacity: 1;
        }
        .listItem__nav .iconButton {
            opacity: 1;
        }
    }

    /**
     * Selected
     */

    &.listItem--selected {
        border: 2px dashed var(--grey-200);
        background-color: transparent;

        .listItem__checkboxContainer {
            opacity: 1;
        }
    }
}

.listItem--grid.listItem--grid {
    gap: 0;
}

@media (hover: none) {
    .listItem--grid .listItem__titleText.listItem__titleText {
        padding-right: 30px;
    }
    .listItem--grid .listItem__nav .iconButton,
    .listItem--grid .listItem__checkboxContainer {
        opacity: 1;
    }
}
