.listView--list-compact,
.listView--list {
    .listItem__tags {
        width: auto;
        .tag {
            height: 24px;
            min-width: 0;
            .tag__text {
                font-size: 0.75rem;
            }
        }
    }
}

.listView--list {
    .listItem__contentWrapper {
        &:has(.listItem__contentHeader:only-child) {
            align-self: center;
            flex: 1 1 auto;

            .listItem__contentHeader {
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-start;
                gap: 1rem;
            }
        }
    }
}

.listView--list-compact {
    .listItem__tags {
        margin-left: auto;
    }
}
