.listView--list-compact {
    .listItem__main {
        padding: 0;
    }

    .listItem__contentWrapper {
        flex-direction: row;
        padding: 0;
    }

    arpa-image {
        --image-size: 0.5rem;
    }

    .listItem {
        padding-left: 4px;
    }

    > .arpaList__body > .arpaList__bodyMain > .arpaList__items.arpaList__items {
        gap: 2px;
    }
}

.listItem--list-compact {
    .listItem__contentWrapper {
        align-self: center;
    }

    .listItem__content {
        display: none;
    }
    .listItem__title {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1rem;
    }

    .listItem__titleWrapper {
        min-width: 0;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .listItem__image {
        --listItem-imgSize: 1.5rem;
    }

    .listItem__checkboxContainer,
    .iconButton {
        --icon-button-size: 25px;
    }

    .listItem__checkboxContainer {
        width: 1rem;
        margin-left: 0.25rem;
    }

    .listItem__tags {
        flex-direction: row-reverse;
        flex-wrap: nowrap;
    }

    .listItem__tags .tag {
        flex-direction: row-reverse;
    }
}
