.listControls {
    display: flex;
    align-items: center;
    gap: var(--list-control-gap);
    z-index: 4;
    position: sticky;
    top: 0;
    background-color: var(--overlay);
    transition: var(--theme-transition);
    padding: 0;

    .comboBox.comboBox {
        background-color: var(--color-background);
    }

    list-views {
        margin-left: auto;
    }

    > list-filters {
        margin-left: auto;
    }

    &:empty {
        display: none;
    }
}
