.tagItem {
    align-items: center;
    background-color: var(--primary-hilight);
    border-radius: 0.5rem;
    color: var(--grey-600);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 1 auto;
    font-weight: normal;
    height: 32px;
    max-width: 100%;
    overflow: visible;
    position: relative;
    transition: none;

    .icon.icon.icon {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--grey-600);
    }
}

.tag__text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    flex: 1 1 auto;
    text-align: center;
    font-weight: 700;
    color: var(--grey-600);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.tagItem,
.tagItem__text,
.tagItem__text + .tooltip {
    letter-spacing: 0px;
    color: var(--grey-500);
    font-size: 0.85rem;
}

.tagItem__text + .tooltip {
    background-color: var(--primary-hilight);
    padding: 0px 8px 4px;
    padding-top: 3px;
    border: none;
    top: 0;
    left: 0;
    box-shadow: none;
}

/* Delete */

.tagItem__delete {
    margin-right: 4px;
}

.tagItem__delete.tagItem__delete:hover .iconButton__content {
    color: var(--red-dark);
}

.tagItem__delete .tooltip.tooltip.tooltip {
    margin-right: 2px;
}

/* icon */

.tagItem.tagItem .iconButton.iconButton {
    margin-left: 4px;
    top: -1px;
}
