.listFilters__form {
    gap: 0;
}

.listFilters__content {
    min-width: 320px;
    width: 100%;
    z-index: 1200;
    width: 100%;
}

.listFilters__content.listFilters__content {
    form {
        .groupField__fields.groupField__fields {
            padding: 0px;
            box-shadow: none;
        }
    }
}

.listFilters__nav {
    max-height: 100%;
    background-color: var(--color-background);
}

.listFilters__pagination {
    .groupField__fields {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }
}

/**
* Refactor below
*/

/* .listFilters .formFieldsComponent > .groupField:has(input[type='checkbox']:checked) .groupFieldLabel__icon {
    color: var(--color-secondary);
}

.listFilters .formFooterComponent {
    display: none;
}

.list__filtersMenu .selectCombo {
    right: 0;
    margin-top: 12px;
    margin-right: -4px;
    max-height: calc(100vh - 220px);
}

.listFilters--large .selectCombo {
    max-height: none;
}

.listFilters .groupField .fieldComponent__body {
    padding: 8px;
}

.listFilters--small .groupField.groupField .fieldComponent__body {
    padding-top: 4px;
}

.listComponent__filtersWrapper.listFilters--large {
    z-index: 0;
    padding-left: 24px;
    margin-top: 6px;
    min-width: 352px;
    padding-right: 0px;
    width: calc(100% + 24px);
}

.listComponent__filtersWrapper.listFilters--large > .selectCombo {
    position: relative !important;
    display: block !important;
    box-shadow: none !important;
    border: none;
    padding: 0;
    margin-top: 0;
}

.listComponent__filtersWrapper.listFilters--large .listFilters {
    padding-right: 14px;
}

.listComponent__filtersWrapper.listFilters--large .selectCombo .formComponent {
    border: none;
    padding: 0;
}

.listComponent__filtersWrapper.listFilters--large .formTitleComponent__iconRight {
    display: none;
}

.listComponent__filtersWrapper.listFilters--small .listFilters > div > form > .formFieldsComponent,
.listComponent__filtersWrapper.listFilters--small .listFilters > form > .formFieldsComponent {
    padding: 0px 16px;
}

.listComponent__filtersWrapper.listFilters--small .groupFieldInput:not(:first-child) {
    padding-top: 8px;
}

.listComponent__filtersWrapper.listFilters--small .listFilters details:last-child summary {
    border-bottom: 0 !important;
} */
